* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #444;
}

.hidden {
  display: none;
}

.accordion {
  max-width: 900px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
  background-color: white;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  column-gap: 24px;
  row-gap: 48px;
  padding: 32px;
}

.content {
  grid-column: 2;
}

.number,
.text {
  font-size: 20px;
  font-weight: 500;
}

.body-text {
  font-size: 18px;
  margin-bottom: 24px;
  line-height: 1.4;
}

ul {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 12px;
}

.fa-solid {
  font-size: 20px;
  height: 24px;
  width: 24px;
  color: #afafaf;
}
